.features-section {
  padding: 4rem 2rem;
  background-color: #f9f9f9;
  text-align: center;
  padding-bottom:7%;
}

.features-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.features-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.feature-card {
  flex: 0 1 250px; /* larghezza minima consigliata */
}