.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #dbdbdb;
    color: #000000;
    transition: all 0.3s ease;
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
}

.container.dark {
  background-color: #141414;
  color: #ffffff;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.message-box {
  text-align: center;
  max-width: 600px;
}

.custom-shape-divider-top-1749540503 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1749540503 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    background: #f9f9f9;
}

.custom-shape-divider-top-1749540503 .shape-fill {
    fill: #252525;
}

.custom-shape-divider-bottom-1749540671 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1749540671 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    background:#f9f9f9;
}

.custom-shape-divider-bottom-1749540671 .shape-fill {
    fill: #252525;
}