.header {
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
    color: #bbb9b9;
    z-index: 2;
    display: flex
;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* position: fixed; */
    justify-content: center;
}

/* .header-content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
   max-width: 1200px; 
 } */

.container.dark .header {
  background-color: #252525;
  color: #d3d3d3;
}

.logo {
  margin:0;
  color: #95864a;
  font-size: 4rem;
  font-family: 'PistonBlack';
  font-weight: bold;
  justify-self: center;
}

.logo-logged {
  margin-left: 10rem;
  color: #95864a;
  font-size: 4rem;
  font-family: 'PistonBlack';
  font-weight: bold;
  justify-self: center;
}

.theme-toggle {
  justify-self: end; /* pulsante sulla colonna di destra */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #111;
  color: #bbb9b9;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.theme-toggle:hover {
  background-color: #5c5c5c;
}

.container.dark .theme-toggle {
  background-color: #252525;
  color: #000;
}

.container.dark .theme-toggle:hover {
  background-color: #5c5c5c;
}
.header-content h1:hover {
  cursor: pointer
}

.navbar-wrapper{
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.navbar-wrapper-logged {
  max-height: 120px;
  width: 100vw;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.header-logged {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  color: #333;
}

.nav-links {
  margin-right: 50rem;
  display: flex;
  gap: 2rem;
  font-family: 'PistonBlack';
}

.nav-links span {
  cursor: pointer;
  font-size: 2.5rem;
  color: #555;
  transition: color 0.3s;
}

.nav-links span:hover {
  color: #007bff;
}